version: '3.8'

services:
  user-management-service:
    build: .
    container_name: user-management-service
    ports:
      - "5000:5000"
    environment:
      MONGO_URI: mongodb://mongo:27017/usermngtservice
      JWT_SECRET: secret
      PORT: 5000
    depends_on:
      - mongo

  mongo:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
